html{
    font-family:'Noto Sans Display', sans-serif;
}

* {
    padding: 0;
    margin: 0;
}
 
body{
    box-sizing: border-box;
    display: flex;
    font-size: 1.6rem;
    background-color:rgba(102,106,208,255);
    align-self: center;
    min-height: 100vh;
    padding: 16px;
    
    
}

.container{
    width: 100%;
    border:2px solid rgba(102,106,208,255);
    border-radius: 20px;
    background-color: rgb(245, 242, 240);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 65px;
}
 
h3{
    font-size: 40px ;
    color: #a3a3a3;
}
.joke{
    font-size:60px;
    text-align: center;

    

}
 .btn{
    background-color: rgba(163,107,216,255);
    padding: 17px 40px;
border: 0.5px;
font-size: medium;
border-radius: 10px;
color: antiquewhite;

 }